html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #03000F;
    background-image: url(bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

#menubar 
{
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

.barbtns
{
    padding-top: 3%;
    justify-content: space-between;
    display: flex;
}

h1.hi_title
{
    color: #303030;
    font-family: Georgia;
    font-size: 6vmin;
    font-weight: bold;
    text-align: center;
    margin: 10% 20% 0% 20%;
}

@keyframes textani
{
    0% {content: ""}    
    2.5% {content: "n"}
    5% {content: "nk"}
    7.5% {content: "nkb"}
    10% {content: "nkb-"}
    12.5% {content: "nkb-d"}
    15% {content: "nkb-de"}
    17.5% {content: "nkb-dev"}
    65% {content: "nkb-dev"}
    70% {content: "nkb-de"}
    75% {content: "nkb-d"}
    80% {content: "nkb-"}
    85% {content: "nkb"}
    90% {content: "nk"}
    95% {content: "n"}
    100% {content: ""}
}

.nkbdev::before
{
    font-size: 16vmin;
    content: "";
    animation: textani infinite 5s;
    margin: 0%;
}

@keyframes cursor-blink 
{
  0% { opacity: 0; }
}

.nkbdev::after
{
    content: "";
    width: 7vmin;
    height: 15vmin;
    margin-left: 10px;
    background: #000;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}

.nkbdev
{
    color:#000;
}

p.bt
{
    margin-top: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Product Sans;
    font-weight: bold;
}

.barbtns a
{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.875vmin;
    font-family: Product Sans;
    font-weight: bold;
    padding: 10px 10px;
} 

.barbtns a:hover
{
    background-color: #ddd;
    color: black;
}

#socialmedia
{
    color: rgb(66, 66, 66);
}

.top_social
{
    font-size: 2.5vmin;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0px;
    text-align: center;
}

#socialicons
{
    justify-content: space-between;
    display: flex;
    margin: 1.5% 45% 0% 45%;
}

.socialbtn
{
    /*it will be something there*/
    margin: 0px;
}

.socialImg
{
    width: 3.35vmin;
    height: 3.35vmin;
}

.products-title
{
    text-align: left;
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 0px;
    padding-left: 15%;
    padding-top: 5%
}

#PRODUCT_CAPT
{
    font-family: 'Product Sans';
}

#PROD_TITLE
{
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-clip: text; 
    text-align: center;
    margin-left: 750px;
    margin-right: 750px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smallprod-caption
{
    color: rgb(192, 192, 192);
    text-align: center;
    font-size: 18px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
}

.MakeRoot-title
{
    background: linear-gradient(90deg, #005E15 0%, #003370 100%);
}

.ColorPick-title
{
    background: linear-gradient(90deg, #5E0000 0%, #4C0070 100%);
}

.LudoGame-title
{
    background: linear-gradient(90deg, #45005E 0%, #00705B 100%);
}

#products
{
    background-color: #03000F;
    margin-top: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#archives
{
    background-color: #03000F;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gallery
{
    background-color: #03000F;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about
{
    background-color: #03000F;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.nkbdevlogo
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
}

.nkbdevlogo-sub
{   
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    height: auto;
}

