html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    background-color: #03000F;
    transition: background-color .5s ease;
}

.main_part_img
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hamburger 
{
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    color: black;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1001;
    cursor: pointer;
}

.barbtns
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: space-between;
    display: flex;
    width: 80%;
    max-width: 900px;
}

h1.hi_title
{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    color: #303030;
    font-family: Georgia;
    font-size: 6vmin;
    font-weight: bold;
    text-align: center;
    margin-top: 175px;
}

#socialicons
{
    justify-content: space-between;
    display: flex;
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 400px;
}


@media screen and (max-width: 750px) { /* Adjust the max-width as needed */
    .hamburger 
    {
        display: block;
    }
    .barbtns 
    {
        display: none;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .barbtns.active 
    {
        display: flex;
    }
    .hamburger.active 
    {
        position: fixed;
    }
    #socialicons 
    {
        width: 60%;
    }
}

.barbtns a
{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Product Sans;
    font-weight: bold;
    padding: 10px;
} 

.barbtns a:hover
{
    background-color: #ddd;
    color: black;
}

@keyframes textani
{
    0% {content: ""}    
    2.5% {content: "n"}
    5% {content: "nk"}
    7.5% {content: "nkb"}
    10% {content: "nkb-"}
    12.5% {content: "nkb-d"}
    15% {content: "nkb-de"}
    17.5% {content: "nkb-dev"}
    65% {content: "nkb-dev"}
    70% {content: "nkb-de"}
    75% {content: "nkb-d"}
    80% {content: "nkb-"}
    85% {content: "nkb"}
    90% {content: "nk"}
    95% {content: "n"}
    100% {content: ""}
}

.nkbdev::before
{
    font-size: 16vmin;
    content: "";
    animation: textani infinite 5s;
    margin: 0%;
}

@keyframes cursor-blink 
{
    0% { opacity: 0; }
}

.nkbdev::after
{
    content: "";
    width: 7vmin;
    height: 15vmin;
    margin-left: 10px;
    background: #000;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}

.nkbdev
{
    position: absolute;
    top: 325px;
    left: 0;
    right: 0;
    color:#000;
}

p.bt
{
    margin-top: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Product Sans;
    font-weight: bold;
}

#socialmedia
{
    color: rgb(66, 66, 66);
    position: absolute;
    top: 600px;
    left: 0;
    right: 0;
}

.top_social
{
    font-size: 24px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0px;
    text-align: center;
}

.socialbtn
{
    /*it will be something there*/
    margin: 10px 0px 10px 0px;
}

.socialImg
{
    width: 32px;
    height: 32px;
}

.endtext
{
    position: absolute;
    font-family: Arial;
    font-size: 11px;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#products, #archives, #gallery, #about
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products-title
{
    text-align: left;
    color: white;
    font-size: 4vmin;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 15px;
    padding-left: 15%;
    padding-top: 5%;
    display: block;
}

.triumvirate
{
    margin-top: 14vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85vmin;
    height: auto;
    width: auto;
}

